
<section class="banner  " style="padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Assets/admin/images/banner-mypham.jpg" alt="Alternate Text" width="100%" />
            </div>
        </div>
    </div>
</section>
<section class="sanpham">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sản Phẩm mới</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                <img src="#" alt="Alternate Text" />
                <h1 class="title"></h1>
                <span class="price "></span>
                <p class="number"></p>
                <p class="type"></p>
            </div>
        </div>
    </div>
</section>
